<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="popup.css">
</head>
<body>
    <div id="app">
        <header>
            
            <button v-on:click="AddPage()">
                麦茶ボタン
            </button>
        </header>
        <div id="main">
            <div id="group_select">
                <div>
                    <a v-on:click="SetGroup(-1)">
                        ALL
                    </a>
                </div>
                <div v-for="item in group" v-bind:key="item.id">
                    <a v-on:click="SetGroup(item.id)">
                        {{ item.name }}
                    </a>
                    <button v-on:click="OpenGroup(item)">開放</button>
                    <button v-on:click="DeleteGroup(item)">削除</button>
                </div>
                <input v-model.lazy="g_name" v-on:change="AddGroup()">
            </div>
            <div id="pages">
                <div v-for="page in computedPages" v-bind:key="page.id">
                    <img v-bind:src="page.image" class="page_img">
                    <p>{{ page.id }}  {{ page.title }}</p>
                    <p><a v-bind:href="page.url" target="_blank">{{ page.url }}</a></p>
                    <img v-bind:src="'https://www.google.com/s2/favicons?domain=' + page.url">
                    <button v-on:click="DeletePage(page)">
                        削除
                    </button>
                </div>
            </div>
        </div>
    </div>

    <script src="vue.js"></script>
    <script src="popup.js"></script>
</body>
</html>